@model Geyser.HomeManagement.Models.LoginModel
@{
	ViewBag.Title = "Login";
	Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="row login-box">
	<div class="col-md-4 col-md-offset-4">
		<div class="panel panel-primary">
			<div class="panel-heading">
				<h3 class="panel-title">Login</h3>
			</div>
			<div class="panel-body">
				@using (Html.BeginForm())
				{
				@Html.AntiForgeryToken()
					<input type="hidden" name="returnUrl" value="@ViewBag.returnUrl" />
					<div class="form-group">
						<label>Username</label>
						@Html.TextBoxFor(x => x.Username, new { @class = "form-control" })
					</div>
					<div class="form-group">
						<label>Password</label>
						@Html.PasswordFor(x => x.Password, new { @class = "form-control" })
					</div>
					<div class="row">
						<div class="col-md-2">
							<button class="btn btn-primary" type="submit">Log In</button>

						</div>
					</div>
				}
			</div>
			<div class="panel-footer">
				<div class="row">
					<div class="col-md-3">
					</div>
					<div class="col-md-6 col-md-offset-3 text-right">
						<span>Need an account?</span> <a href="Admin/Create">Register here</a>
					</div>
				</div>
			</div>
		</div>

		@Html.ValidationSummary(false)
	</div>
</div>





